.about{
    height: 75.7vh;
    &__container{
        margin-bottom: 20px;
        & > div{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
}    
    