.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: cover;
    width: 250px;
    height: 88%;
    margin: 20px;
    &__cover{
        width: 240px;
        border-radius: 15px;
    }
    &__title{
        font-size: 1.1em;
        color: white;
        font-weight: bold;
    }
}