.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &__text{
        font-size: 2.8em;
        color: rgba(255, 96, 96, 1);
    }
    &__link{
        font-size: 1em;
        text-decoration: underline black;
    }
}