.gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px 100px;
    background-color: rgba(246, 246, 246, 1);
    & > div{
        width: 280px;
        height: 260px;
        margin: 30px;
        border-radius: 15px;
        background: linear-gradient(180deg, rgba(255, 96, 96, 1) 0%, rgba(255, 101, 101, 100) 67%);

    }
}